.about_us {
  width: 100%;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;

  .text_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .about_us_tittle {
      text-align: center;
      font-family: $font-base;
      font-size: 30px;
      color: $color-black;
    }
    .decor {
      width: 253px;
      height: 33px;
      margin-top: 26px;
      margin-bottom: 40px;
    }
    .about_us_text {
      width: 600px;
      height: 209px;
      text-align: center;
      font-family: $font-base;
      font-size: 26px;
      color: $color-black;
      line-height: 45px;

    }
    .signature {

      background-size: cover;
      display: flex;
      align-self: flex-end;
      padding-right: 152px;
    }

  }
  .img_container {
    width: 50%;

    .about_us_img {
      width: 942px;
      background-size: cover;

    }
  }
}