.home-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 142px;

  .home-header-img {
    width: 1040px;
    display: flex;
    order: -1;
    z-index: -1;
  }

  .Help-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    h1 {
      width: 702px;
      height: 107px;
      font-family: $font-base;
      font-size: 30px;
      text-align: center;

      p {

        font-family: $font-base;
        font-size: 30px;
        text-align: center;
        padding-top: 18px;
      }
    }

    .decor {
      width: 253px;
      height: 33px;
      margin-bottom: 65px;
    }
    .button-container-header {

      display: flex;
      justify-content: center;
      align-items: center;


    }
  }
}

