.simple_steps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    font-family: $font-base;
    font-size: 38px;
    color: $color-black;
    padding-top: 55px;

  }
  .decor {
    padding: 25px 0 34px;
  }
  .simple_steps_container {
    width: 100vw;
    height: 325px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F0F1F1 0 0 no-repeat;


    .step {
      width: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        width: 83px;
        height: 83px;
        margin-bottom: 23px;
      }
      h2 {
        text-align: center;
        font-family: $font-base;
        font-size: 18px;
        color: $color-black;
        margin-bottom: 17px;
        :after {
          content: "";
          width: 80px;
          height: 2px;
          background-color: $color-black;
        }
      }
      p {
        text-align: center;
        font-family: $font-base;
        font-size: 16px;
        color: $color-black;

      }
    }
  }
  .btn_1 {
    margin-top: 35px;
    margin-bottom: 80px;
  }
}