.who-we-help {
  position: relative;
  top: -420px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .who-we-help-title {
    text-align: center;
    font-family: $font-base;
    font-size: 38px;
    color: $color-black;

  }
  .decor {
    width: 253px;
    height: 33px;
    margin-top: 24px;
    margin-bottom: 30px;
  }
  .btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .description_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .description {
      width: 640px;
      height: 94px;
      text-align: center;
      font-family: $font-base;
      font-size:  22px;
      line-height: 30px;
      color: $color-black;
      margin-bottom: 30px;
    }

    ul {
      width: 1344px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        width: 1200px;
        height: 81px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        .el_title {
          text-align: left;
          font-family: $font-alt;
          font-size: 26px;
          font-weight: lighter;
          line-height: 31px;
          color: $color-black;
          margin-bottom: 8px;
        }
        .el_subtitle {
          text-align: left;
          font-family: $font-alt;
          font-size: 18px;
          line-height: 22px;
          color: $color-black;
          font-style: italic;
        }
        .el_description {
          text-align: left;
          font-family: $font-alt;
          font-size: 18px;
          font-weight: lighter;
          line-height: 22px;
          color: $color-black;
        }
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}