.nav {
  padding-right: 142px;
  padding-top: 37px;

  .web_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;


    .nav-login{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 17px;

      li {
        padding: 9px 10px;
        text-align: right;
        font-family: $font-base;
        font-size: 13px;
        letter-spacing: 0;
        color: $color-grey;
        opacity: 1;
        border: 0.75px solid white;
        &:hover {
          border: 0.75px solid $color-yellow;
        }
        &:visited {
          border: 0.75px solid white;
        }
      }
    }
  }
  .nav-home {

    .nav-page {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        padding: 9px 20px;
        text-align: right;
        font-family: $font-base;
        font-size: 18px;
        letter-spacing: 0;
        color: $color-black;
        border: 0.75px solid white;

        &:hover {
          border: 0.75px solid $color-black;
          }
        }
        &:visited {
          border: 0.75px solid white;
        }
    }
  }
}